Dear <%= @resolver %>,<br>
I would like to have a follow up on my recent ticket.<br>
<a href="<%= HOST_URL %>"><%= HOST_URL %></a>
Looking forward to hearing from you.<br><br>
Kind Regards,<br>
<%= @requester %>